HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr
.idea
.idea/
*.iml
*.iws

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

.vscode/

#vim
*.swp

#eclipse
.classpath
.project
.settings/
bin/

#Mac
.DS_Store

#Maven
log/
logs/
*.class

#package
*.jar
*.war
*.ear
*.tar
*.gz
*.zip

#media
.java-version
